:local(.wrapper) {
    border-bottom: 1px solid black;
    height: 64px;
    margin: 0 8px 0 8px;
    position: relative;
    width: 100%;
}

:local(.wrapper) img {
    height: 56px;
    margin: 4px 0 4px 0; /* centralizacao da imagem */
}

:local(.wrapper) > div {
    display: inline-flex;
    height: 64px;
    margin: 0;
    padding: 0;
}
