:local(.wrapper) {
    border-bottom: 1px solid var(--gray-main-color);
    display: flex;
    height: 64px;
    position: relative;
    width: 100%;
}

:local(.wrapper) > div {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    margin: 0 8px;
    width: 100%;
}

:local(.wrapper) img {
    height: 56px;
    margin: 4px 8px; /* centralizacao da imagem */
}

:local(.searchInput) {
    width: 50%;
}
