:local(.wrapper) {
    display: inline-flex;
    justify-content: flex-end;
    margin: 8px 0;
    padding: 0;
    width: 100%;
}

:local(.wrapper) > button {
    border-radius: 8px;
    background-color: var(--color-main);
    color: var(--color-text-light);
    cursor: pointer;
    display: inline-block;
    font-size: var(--font-size-big-2);
    height: 40px;
    margin: 0;
    text-decoration: none;
    width: 120px;
}
