:local(.wrapper) {
    border: 1px solid var(--color-gray-11);
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    font-style: normal;
    margin-top: 0;
    padding: 0 8px;
    height: 40px;
    width: 100%;
}

:local(.wrapper):focus-within {
    border: 1px solid cornflowerblue;
}

:local(.wrapper) > input {
    flex: 1;
    font-size: 0.9em;
    width: 100%;
}

:local(.wrapper) > div > svg {
    cursor: pointer;
    height: 40px;
    width: 24px;
}
