:local(.wrapper) {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    height: 100vh;
    position: absolute;
    width: 100%;
}

:local(.wrapper) > :local(.modalBody) {
    background-color: #fff;
    border-radius: 24px;
    height: 70vh;
    min-height: 512px;
    padding: 24px;
    width: 640px;
}

:local(.wrapper) > :local(.modalBody) > :local(.modalHeader) {
    height: 8%;
}

:local(.wrapper) > :local(.modalBody) >  :local(.modalHeader) > :local(.closeIcon) {
    cursor: pointer;
    height: 32px;
    width: 32px;
}

:local(.wrapper) > :local(.modalBody) > :local(.modalChildren) {
    height: 92%;
    overflow-x: hidden;
    overflow-y: scroll;
}
