:local(.wrapper) {
    margin: 80px auto;
    padding: 40px;
    width: 840px;
}

:local(.wrapper) > :local(.inputSet) {
    height: fit-content;
}

:local(.wrapper) > :local(.inputSet) > :local(.input) {
    display: inline-flex;
    margin: 4px 0;
    width: 100%;
}

:local(.wrapper) > :local(.inputSet) > :local(.input) > div > svg {
    cursor: pointer;
    height: 40px;
    margin: 0 16px;
    width: 24px;
}

:local(.wrapper) > :local(.buttonSet) {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
